<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style type="text/css">
		h3{
			font-size: 1.8rem;
		}
		p{
			font-size: 22px;
		}
		button{
			padding: 12px 3rem;
			background-color: #1d9bf0;
			cursor: pointer;
			border: none;
			display: block;
		}

		button a{
			text-decoration: none;
			color: #fff;
			font-size: 18px;
			align-items: center;
		}
	</style>
</head>
<body>

	<h3>Sorry, the website you requested is still under construction</h3>
	<p>
		Since you have already entered your email address, you will be notified once the website is live and running for you to use.
	</p>

	<button><a href="{% url 'index' %}">Return to home page</a></button>

</body>
</html>